Notebook 1, Module 1, Data and Data Management, CAS Applied Data Science, 2024-08-21, A. Mühlemann, University of Bern. (based on the template by S. Haug)

Prerequisite for this notebook is some basic Python experience.

Please also look at the first batch of [the slides](https://drive.google.com/file/d/12cWTQG5_vcoaz-puhBgH9GrfKUADmLdo/view?usp=sharing) before doing this notebook. They offer an introduction to data.

ChatGPT is able to write most of the code needed for this notebook. Please use it if you like!

# 1. Data Management

Estimated study time is about 2 hours. According to your background and how much you want to learn, you may need more or less. You are supposed to google, read manuals and chat with others during working through this notebook in order to benefit fully.

**Learning outcomes - after completion you**
- Know about data sources, types and formats (see lecture slides via link above)
- Able to import and export data in Python
- Able to do simple things with dataframes in Python

**Documentation on Pandas DataFrame**
- Python: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

## Outline

     0. About data management
     1. Getting used to Jupyter notebooks / colab
     2. Importing and merging
     3. Indexing on a dataframe
     4. Sorting
     5. Filtering
     6. Exporting
     7. Missing and bad data
     8. Metadata
     9. Working on the filesystem

## 0. About data management

Handling or managing data involves many steps and technologies at many levels. Data may be colleccted by sensors. It can be a camera, a temperature sensor, a telescope, a microscope (with a camera), a microphone, a particle detector etc. Normally the data is then digitised, maybe preprocessed and written to some media in a certain format, e.g. as a comma separated value (csv) file to a hard disk. This part of the data management is normally taken care of by engineers.

Data may also be collected from all sorts of databases, so data already collected somehow. Time series of financial data, customers, passengers, facebook likes, twitter tweets etc. This is data which is normally already on a media with some interface for access, e.g. paper to be read by a camera, a file on youtube, a table on wikipedia etc. We will look at some ways to collect such data. Some programming and computer skills are needed to do so. It may be that this part of the data management is taken care of by specialised computer scientists, but it may also be expected from a data scientist to have these skills.

Analysing data with statisitical and machine learning tools, requires that the data is colleceted, cleaned and prepared for the tools. *This is very often a very large part of a data analytics project and a prerequisite*. It may involve removing bad data, filter out redundant and noisy data, unify the formats and types, transform the data etc.
Thus, a data scientist must be able to perform this part of the data management. This notebook shows the basic operations with Python pandas. With other tools the concepts and operations are very similar.

After the data analysis, after the extraction of information and the creation of knowledge, the data is often stored or archived for the future (if this seems cheaper than regenerating the data at a later point). In larger institutions this part of the data management may include educated librarians and others, not necessarily the data scientist.  

**In this notebook we only look at a few examples on how to do datamanagement with dataframes. Pandas are extremly powerful and we cannot show everything in a couple of hours. You will become more and more experienced when you work on your module projects. Probably whatever you want to do with your dataframe, there is a way to do it. If not, it probably doesn't make much sense what wou want to do.**

Any questions?

# load libraries

In [1]:
import pandas as pd
import numpy as np

## 1. Getting used to Jupyter computational notebooks and Colab

With Jupyter you can write rich text notebooks with executable code via your browser. There are several so-called kernels or computational back ends, i.e Python, R, Julia, bash etc can be supported. The text is written as Markdown. Latex is also supported (good for math). You can export the notebook in various formats, e.g. html. Everything can be done via the various tabs, however, the key shortcuts make you faster.

*Useful key combinations*

- Shift Enter or Control Enter = Run cell
- Option/Alt Enter = Run cell and Insert new cell below

### Exercise 1 (10 min)
- Change and run this cell
- Add a new cell and execute some python statement in it
- Study the tabs in the menu of your jupyter (lab) notebook

In [2]:
# Write some more Python code here
print("hello world!")

hello world!

## 2. Import a dataset into a Pandas DataFrame

Pandas is a Python Module for data analysis and manipulation and management. It has the data structure DataFrame which is quite powerful. Features

- DataFrame object for data management with integrated indexing.
- Tools for reading and writing data between in-memory data structures and different file formats.
- Data alignment and integrated handling of missing data.
- Reshaping and pivoting of data sets.
- Label-based slicing, fancy indexing, and subsetting of large data sets.
- Data structure column insertion and deletion.
- Group by engine allowing split-apply-combine operations on data sets.
- Data set merging and joining.
- Hierarchical axis indexing to work with high-dimensional data in a lower-dimensional data structure.
- Time series-functionality: Date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging.

The module is highly optimized for performance, with critical code parts written in Cython or C. Documentation here: https://pandas.pydata.org/pandas-docs/stable/api.html

For input/output (I/O) there are methods for reading EXCEL, SQL databases, HTML tables, clipboard, SAS, STATA etc.

In this notebook we will work with a dataset that contains brain and body weight, life  span, gestation time,  sleep and danger indices of 62 mammals [(source)](https://lib.stat.cmu.edu/datasets/sleep).

To better illustrate some challenges faced when working with data, I split the data set into *sleep.csv* and *danger.csv* that can be downloaded from Github.

The data set *sleep.csv* contains:
* Species: species of animal
* BodyWt: body weight in kg
* BrainWt: brain weight in g
* NonDreaming: slow wave ("nondreaming") sleep (hrs/day)
* Dreaming: paradoxical ("dreaming") sleep (hrs/day)
* TotalSleep: total sleep (hrs/day)  (sum of slow wave and paradoxical sleep)
* LifeSpan: maximum life span (years)
* Gestation: gestation time (days)

The data set *danger.csv* contains:
* Species: species of animal
* Predation: predation index (1-5)\
1 = minimum (least likely to be preyed upon)\
5 = maximum (most likely to be preyed upon)
* Exposure: sleep exposure index (1-5)\
1 = least exposed (e.g. animal sleeps in a well-protected den)\
5 = most exposed
* Danger: overall danger index (1-5) based on the above two indices and other information
1 = least danger (from other animals)\
5 = most danger (from other animals)


### Exercise 2
- Upload both files to Colab
- Import the python module pandas with abbriveation pd
- Read both data sets into a pd dataframe
- Look at both dataframes and identify possible problems that could surface when trying to merge the dataframes

#### Hint

There are some ways to get help about modules and methods directly in Jupyter:

```
dataframe. #(hover over the object to see its methods)
```
or

```
dataframe?
```

And, what you will probably use the most, the online package information and examples by googling or ChatGPT.

In [7]:
# Upload the local data file to colab
data_sleep = pd.read_csv("./datasets/sleep.csv", sep=";")

# Display first few rows
data_sleep.head()

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0

In [8]:
# Upload the local data file to colab
data_danger = pd.read_csv("./datasets/danger.csv", sep=";")

# Display first few rows
data_danger.head()

,Unnamed: 0,Yellow-belliedmarmot,Wateropossum,Vervet,Treeshrew,Treehyrax,Tenrec,Starnosedmole,Slowloris,Sheep,...,Chimpanzee,Cat,Braziliantapir,Bigbrownbat,Baboon,Asianelephant,Arcticgroundsquirrel,ArcticFox,Africangiantpouchedrat,Africanelephant
0,Predation,3,2,4,3,3,2,3,2,5,...,1,1,4,1,4,3,5,1,3,3
1,Exposure,1,1,3,2,1,1,1,2,5,...,1,2,5,1,4,5,2,1,1,5
2,Danger,1,1,4,2,3,2,2,2,5,...,1,1,4,1,4,4,3,1,3,3

In [9]:
# import the python module pandas with the abbreviation pd--> erledigt ganz oben

# Read the data in the sleep.csv file into a dataframe --> erledigt

# Read the data in the danger.csv file into a dataframe --> erledigt

In [ ]:
# show sleep.csv --> erledigt

The dataframe method shows 50 rows per default. We can change with

```
pd.set_option('display.max_rows', None)
```

In [ ]:
# show danger.csv

Some of the callenges are that in *sleep.csv* each row corresponds to a species, while for *danger.csv* it's the columns that correspond to a species. Moreover, in *sleep.csv* the species are sorted from A-Z, while for *danger.csv* they are sorted from Z-A.

In [16]:
data_danger.index = pd.Index(['Predation','Exposure','Danger'],name='Species') # wenn ich das nicht mache dann haben die columns keinen namen
data_danger_transpose = data_danger.transpose().reset_index().rename(columns={'index':'Species'}) #transposen und index vorne (1.column) namen geben
data_danger_transpose.head()

Species               Species  Predation  Exposure  Danger
0                  Unnamed: 0  Predation  Exposure  Danger
1        Yellow-belliedmarmot          3         1       1
2                Wateropossum          2         1       1
3                      Vervet          4         3       4
4                   Treeshrew          3         2       2

### Exercise 3
Merge the two dataframes. We take *sleep.csv* as are base and want to add the information of *danger.csv* to the sleep dataframe. There are of course multiple solutions but try to make de modifications in Python and not with Excel.

In [37]:
# transpose danger.csv--> siehe oben

# concat nicht verwenden da es nur unten dran hängt und nicht mergt; merge schaut spezifisch nur was in beiden 
# vorkommt
#data_merge = pd.concat([data_sleep,data_danger_transpose], axis=0, ignore_index=True)
#data_merge.head()

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,NaN,NaN,NaN
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,NaN,NaN,NaN
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,NaN,NaN,NaN
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,NaN,NaN,NaN
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,NaN,NaN,NaN

In [42]:
#lösung transpose von github
# transpose danger.csv
#data_danger_transpose = danger_danger.transpose().reset_index()
#data_danger_transpose.rename(columns={'index': 'Species'}, inplace=True)

# merge danger_t with sleep
data_merge = pd.merge(data_sleep, data_danger_transpose, on='Species', how='inner')
data_merge

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4
...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1

### Exercise 4
Investigate what ```how='inner'``` does and what other options exist.

The expression ```how='inner'``` performs an inner join between the two dataframes meaning that only species existing in both dataframes end up in the merged dataframe.

Other options are: considers one of the tables as the basis
- ```how='left'```: includes all rows from the left dataframe, and matching rows from the right dataframe.

- ```how='right'```: includes all rows from the right dataframe, and matching rows from the left dataframe.

- ```how='outer'```: includes all rows from both data frames, with NaNs where there are no matches.

## 3. Indexing on a dataframe
From now on we work with our newly merged dataframe.
Indexing is quite useful to
- directly access a specific element in a dataframe.
- easily modify or assign values.
- filter.
- ...

We can access a single cell by indexing my its row and column

```
dataframe.iat[row_index,column_index]
```

### Exercise 5
Check what value lies in colum 4 row 58

In [21]:
data_merge.iat[57,3] #achtung python fängt bei 0 an zu zählen! deswegen muss -1 abgezogen werden

4.9

We can also assign a new value to this cell using

```
dataframe.iat[row_index,column_index]=10
```

### Exercise 6
Overwrite the value in row 58 and column 4 with 10 and then change iz back to 4.9.

In [22]:
data_merge.iat[57,3]=10

In [23]:
data_merge.iat[57,3]=4.9

We can also access multiple cells by


```
dataframe.iloc[min_row:max_row+1,min_col:max_col+1]
```

### Exercise 7
Look at the first 10 row and the last 3 columns of our dataframe.

In [27]:
data_merge.iloc[1:11,8:11]

   Predation Exposure Danger
1        NaN      NaN    NaN
2        NaN      NaN    NaN
3        NaN      NaN    NaN
4        NaN      NaN    NaN
5        NaN      NaN    NaN
6        NaN      NaN    NaN
7        NaN      NaN    NaN
8        NaN      NaN    NaN
9        NaN      NaN    NaN
10       NaN      NaN    NaN

**Important**
When you assign a (subset) of dataframe to a new one like above, no copy is made. This means that if you change values of the new frame, also the orginal frame will be changed. If you want a copy, you need to use the copy method.

We can also access colums by the column names.
### Exercise 8
Look at the *TotalSleep* of all species. and in a second step look at *TotalSleep* and *BrainWt* of the first sevel rows.

In [33]:
data_merge[:]["TotalSleep"]

0       3.3
1       8.3
2      12.5
3      16.5
4       3.9
       ...
120     NaN
121     NaN
122     NaN
123     NaN
124     NaN
Name: TotalSleep, Length: 125, dtype: float64

In [43]:
data_merge[0:7][["TotalSleep", "BrainWt"]]

   TotalSleep  BrainWt
0         3.3   5712.0
1         8.3      6.6
2        12.5     44.5
3        16.5      5.7
4         3.9   4603.0
5         9.8    179.5
6        19.7      0.3

Selecting by row values

In [39]:
data_merge[data_merge['Species']=='ArcticFox'] #wenn ich nur bestimmte rausfiltern möchte;

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,NaN,NaN,NaN
122,ArcticFox,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1

Sometimes it is also helpful to group. For example, if we are interested in the average *BrainWt* with respect to the danger the mammals are in, then grouping by *Danger* would yields the result:

In [44]:
data_merge.groupby("Danger")["BrainWt"].mean()

Danger
1    159.434211
2     22.350000
3    577.233000
4    537.254000
5    340.811111
Name: BrainWt, dtype: float64

### Exercise 9
Look at the mean gestation grouped by sleep exposure. Is there some visible difference?

In [47]:
data_merge.groupby("Exposure")["Gestation"].mean()

Exposure
1     66.291667
2     90.708333
3    188.000000
4    165.800000
5    307.384615
Name: Gestation, dtype: float64

## 4. Sorting
Sorting is helpful because it allows you to organize data in a meaningful order, making it easier to identify patterns, trends, or outliers.

We can sort with respect to one or multiple columns as follows.



```
dataframe.sort_values(['col1','col2'])
```

### Exercise 9
Sort the dataframe with respect to time the mammals spend sleeping in total as well as dreaming.

In [49]:
data_merge.sort_values(["TotalSleep", "Dreaming"])

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger
52,Roedeer,14.83,98.20,NaN,NaN,2.6,17.0,150.0,5,5,5
28,Horse,521.00,655.00,2.1,0.8,2.9,46.0,336.0,5,5,5
13,Donkey,187.10,419.00,NaN,NaN,3.1,40.0,365.0,5,5,5
0,Africanelephant,6654.00,5712.00,NaN,NaN,3.3,38.6,645.0,3,5,3
21,Goat,27.66,115.00,3.3,0.5,3.8,20.0,148.0,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...
32,Littlebrownbat,0.01,0.25,17.9,2.0,19.9,24.0,50.0,1,1,1
20,Giraffe,529.00,680.00,NaN,0.3,NaN,28.0,400.0,5,5,5
40,Okapi,250.00,490.00,NaN,1.0,NaN,23.6,440.0,5,5,5
30,Kangaroo,35.00,56.00,NaN,NaN,NaN,16.3,33.0,3,5,4
61,Yellow-belliedmarmot,4.05,17.00,NaN,NaN,NaN,13.0,38.0,3,1,1

## 5. Filtering
Filtering dataframes is helpful because it allows you to focus on specific subsets of data that meet certain criteria, simplifying analysis and making it easier to identify trends or anomalies. It also improves efficiency by reducing the volume of data processed, which speeds up computations and insights.

### Exercise 10
- Filter the data set such that only mammals remain that have a lifespan of more than 15 years.
- Filter the data set such that only mammals remain that have a lifespan of more than 15 years and have a danger index of 5.

In [ ]:
data_older15 = data_merge[data_merge.LifeSpan > 15.0].copy()

In [ ]:
data_older15_danger5 = data_merge[(data_merge.LifeSpan > 15.0) & (data_merge.Danger == 5)].copy()

#Klammern richtig setzen!!

## 6. Missing or bad data

Datasets, before they are "cleaned", may contain missing or wrongly formated values. There are DataFrame methods to deal with this:

- DataFrame.dropna([axis, how, thresh, …])	Remove missing values.
- DataFrame.fillna([value, method, axis, …])	Fill NA/NaN values using the specified method
- DataFrame.replace([to_replace, value, …])	Replace values given in to_replace with value.
- DataFrame.interpolate([method, axis, limit, …])	Interpolate values according to different methods.

Retrieving and cleaning data is often the most time consuming part in a data science project.

## 7. Exporting dataframes (I/O)

DataFrame has several export methods. (html, hdf5, ascii, excel etc). Let's save file in csv format.

In [57]:
data_merge.to_csv('merged.csv')

Can you find it?

What happens with our files when we close our colab session?

## 8. Metadata


Metadata is data about the data, e.g. when was it collected, under which conditions, calibration etc.
Metadata is normally not part of the statistical data analysis, however, needed for understanding and reproducibilty.

DataFrame is not really made for storing metadata (should be done separately), but one can add new attributes to a dataframe:

In [58]:
metadata = {
    'Location': "Gaul",
    'Authors': ['Asterix', "Obelix", 'Idefix']
}
metadata

{'Location': 'Gaul', 'Authors': ['Asterix', 'Obelix', 'Idefix']}

Data repositories often use so-called Data Cards for metadata. See for example: https://www.kaggle.com/datasets/uciml/iris

## 9. Two more Exercises

### Exercise 11
Download the iris.csv from Github. Read in the iris dataset into a dataframe. Set the values in column 1 in row 39, 49 and 100 to NaN (use the nan method from the numpy package). Then replacethe NaN values to the average value of the respective column. Depending on how you do it, this may be about 10 lines of Python code.

In [71]:
# Upload the local data file to colab
data_iris = pd.read_csv("./datasets/iris.csv", sep=",", names=['slength', 'swidth', 'plength', 'pwidth', 'species'])

#ich muss noch die header von der tabelle einfügen
#iris = pd.read_csv(url, sep=',', names=['slength', 'swidth', 'plength', 'pwidth', 'species'])

# Display first few rows
data_iris.head()

   slength  swidth  plength  pwidth      species
0      5.1     3.5      1.4     0.2  Iris-setosa
1      4.9     3.0      1.4     0.2  Iris-setosa
2      4.7     3.2      1.3     0.2  Iris-setosa
3      4.6     3.1      1.5     0.2  Iris-setosa
4      5.0     3.6      1.4     0.2  Iris-setosa

In [72]:
#Set the values in column 1 in row 39, 49 and 100 to NaN
data_iris.iloc[[39,49,100],0]= np.nan #[row,column]

#man muss iloc verwenden nicht iat- weil wir mehrere reihen austauschen wollen nicht nur 1.

In [77]:
column_1_mean = data_iris["slength"].mean() #wichtig hier- muss das df definieren und dann welche column
print(column_1_mean)

5.851020408163265

In [78]:
data_iris.iloc[[39,49,100],0]= data_iris["slength"].mean() #[row,column] ["BrainWt"].mean()

### Exercise 12
This exercise presents a real-world scenario based on data collected from a student survey for a university course on statistics for economics and social sciences. To practice data handling in Python, you'll work with this dataset to prepare it for analysis.

The survey gathered responses on five variables:

* Mobile OS: The operating system of the student's mobile phone.
* Screen time: Daily screen time in minutes.
* Shopping preference: The student's preferred method of shopping (online or in-store).
* Favorite subject: Their favorite subject during high school.
* Weekly sports time: The number of hours spent on sports each week.

The raw datasets are available for download on ILIAS. Your task is to merge and clean the data to make it usable. This includes: Identify and handle any data points that are clearly incorrect or nonsensical. The "favorite subject" variable is particularly messy due to free-form text input. You'll need to
develop a strategy to categorize these answers consistently. There isn't a single correct approach, but this task demonstrates how crucial careful study design is to avoid common data cleaning issues.

In [90]:
data_2023 = pd.read_csv("./datasets/StatWiSo2023_raw.csv", sep=",")
data_2024 = pd.read_csv("./datasets/StatWiSo2024_raw.csv", sep=",")

In [ ]:
#data_2023 = data_2023.reset_index().rename(columns={'index':'student'})
#data_2024 = data_2024.reset_index().rename(columns={'index':'student'})

In [91]:
data_2023['year'] = 2023
data_2024['year'] = 2024

In [83]:
print(data_2023["Bildschimzeit_in_Minuten"].value_counts())

Bildschimzeit_in_Minuten
240.00    44
300.00    43
180.00    37
360.00    22
120.00    13
          ..
2.25       1
540.00     1
94.00      1
249.00     1
6.00       1
Name: count, Length: 66, dtype: int64

zweimal dasselbe data set but with different people- just year differs;
so I can "glue" them together- use concat
merge ist basically verschachteln

concat- wofür ist ignore_index=True/False? 
wenn ich ignore_index=False mache dann bekomme ich automatisch einen weiteren index der durchzählt;

In [92]:
#jetzt kann ich concat verwenden da es unabhängige datensätze sind; 
data_merge_students = pd.concat([data_2023, data_2024], ignore_index=True)
data_merge_students.head()

,Unnamed: 0,Handybetriebssystem,Bildschimzeit_in_Minuten,Shoppingverhalten,Lieblingsfach,Sport_in_Stunden,Kleidergroesse,year
0,1,iOS,180.0,online,Religion,1.0,M,2023
1,2,iOS,330.0,offline,Wirtschaft & Recht,7.5,M,2023
2,3,iOS,240.0,offline,Physical Education,14.0,M,2023
3,4,Android,120.0,offline,Philosophie,3.0,M,2023
4,5,iOS,240.0,offline,BG,10.0,M,2023

In [93]:
# Filter for plausible values
data_merge_students = data_merge_students[data_merge_students['Bildschimzeit_in_Minuten'] <= 1440]
data_merge_students = data_merge_students[data_merge_students['Sport_in_Stunden'] <= 168]
data_merge_students

,Unnamed: 0,Handybetriebssystem,Bildschimzeit_in_Minuten,Shoppingverhalten,Lieblingsfach,Sport_in_Stunden,Kleidergroesse,year
0,1,iOS,180.0,online,Religion,1.0,M,2023
1,2,iOS,330.0,offline,Wirtschaft & Recht,7.5,M,2023
2,3,iOS,240.0,offline,Physical Education,14.0,M,2023
3,4,Android,120.0,offline,Philosophie,3.0,M,2023
4,5,iOS,240.0,offline,BG,10.0,M,2023
...,...,...,...,...,...,...,...,...
566,287,iOS,240.0,offline,Wirtschaft und Recht,5.0,S,2024
567,288,Android,100.0,online,Mathe,2.0,S,2024
568,289,iOS,180.0,offline,Deutsch,5.0,S,2024
569,290,iOS,150.0,offline,Biologie,5.0,S,2024
570,291,iOS,240.0,offline,Kunst,3.0,S,2024

In [94]:
unique_subjects = data_merge_students['Lieblingsfach'].unique()
print(unique_subjects)

['Religion' 'Wirtschaft & Recht' 'Physical Education' 'Philosophie' 'BG'
 'Wirtschaft und Recht'
 'Mathe, Statistik, alle fächer die ich bei frau mühlemann gehabt hätte'
 'Musik' 'Sport' 'Englisch' 'Mathematik' 'Politikwissenschaft'
 'Geschichte' 'Chemie' '*Passerelle: Physik' 'WR' 'WIRE' 'Wirtschaft'
 'Physik' 'Biologie' 'Psychologie und Pädagogik' 'Bg'
 'Mathematik \nWirtschaft' 'Deutsch' 'Wirtschaft + Recht'
 'Bildnerisches Gestalten' 'bwl' 'Spanisch' 'Wr' 'English' 'Psychologie'
 'Math' 'sport' 'math' 'Geografie' 'Sport und Musik' 'Italienisch'
 'Geschichte, Wirtschaft und Recht' 'Sport und WR' 'Franzoesisch'
 'spanisch' 'Rätoromanisch' 'SWIR' '(Bio-)Chemie' 'VWL' 'SF Bio Chemie'
 'Geo' 'GESCHICHTE' 'deutsch' 'Theater' 'Art' 'Bildnerisches gestalten'
 'Politische Bildung' 'Kunst' 'Mathe' 'mathematik' 'hatte keins'
 'Englisch, Mathematik' 'SF Musik' 'Geographie' 'W&R und Sport' 'EWR'
 'Wirtschaft Geschichte' 'Digitale Kommunikation' 'Technisches Gestalten'
 'Musik Kunstfach' 'Französisch' 'Biologie und Chemie'
 'Religion, Psychologie' 'englisch' 'Geschichte und Wirtschaft'
 'Französich' 'geschichte' 'sport, geschichte, Wirtschaft,' 'gar keins'
 'astrophysik' 'Wiertschaft und Recht' 'Informatik' 'Sport, Geschichte'
 'Geschichte und Recht' 'keines' 'BWL' 'Schwerpunktfach Musik' 'Latein'
 'Mein Lieblingsfach war Fremdsprache.' 'Anwendungen der Mathematik']

In [95]:
subject_mapping = {
'Religion': 'Religion',
'Wirtschaft & Recht': 'Wirtschaft und Recht',
'Physical Education': 'Sport',
'Philosophie': 'Philosophie',
'BG': 'Bildnerisches Gestalten',
'Wirtschaft und Recht': 'Wirtschaft und Recht',
'Mathe, Statistik, alle fächer die ich bei frau mühlemann gehabt hätte': 'Mathematik',
'Musik': 'Musik',
'Sport': 'Sport',
'Englisch': 'Englisch',
'Mathematik': 'Mathematik',
'Politikwissenschaft': 'Politikwissenschaft',
'Geschichte': 'Geschichte',
'Chemie': 'Chemie',
'*Passerelle: Physik': 'Physik',
'WR': 'Wirtschaft und Recht',
'WIRE': 'Wirtschaft und Recht',
'Wirtschaft': 'Wirtschaft und Recht',
'Physik': 'Physik',
'Biologie': 'Biologie',
'Psychologie und Pädagogik': 'Psychologie',
'Bg': 'Bildnerisches Gestalten',
'Mathematik \r\nWirtschaft': 'Mathematik',
'Deutsch': 'Deutsch',
'Wirtschaft + Recht': 'Wirtschaft und Recht',
'Bildnerisches Gestalten': 'Bildnerisches Gestalten',
'bwl': 'Wirtschaft und Recht',
'Spanisch': 'Spanisch',
'Wr': 'Wirtschaft und Recht',
'English': 'Englisch',
'Psychologie': 'Psychologie',
'Math': 'Mathematik',
'sport': 'Sport',
'math': 'Mathematik',
'Geografie': 'Geografie',
'Sport und Musik': 'Sport',
'Italienisch': 'Italienisch',
'Geschichte, Wirtschaft und Recht': 'Geschichte',
'Sport und WR': 'Sport',
'Franzoesisch': 'Französisch',
'spanisch': 'Spanisch',
'Rätoromanisch': 'Rätoromanisch',
'SWIR': 'Wirtschaft und Recht',
'(Bio-)Chemie': 'Chemie',
'VWL': 'Wirtschaft und Recht',
'SF Bio Chemie': 'Chemie',
'Geo': 'Geografie',
'GESCHICHTE': 'Geschichte',
'deutsch': 'Deutsch',
'Theater': 'Theater',
'Art': 'Bildnerisches Gestalten',
'Bildnerisches gestalten': 'Bildnerisches Gestalten',
'Politische Bildung': 'Politikwissenschaft',
'Kunst': 'Bildnerisches Gestalten',
'Mathe': 'Mathematik',
'mathematik': 'Mathematik',
'hatte keins': 'NA',
'Englisch, Mathematik': 'Englisch',
'SF Musik': 'Musik',
'Geographie': 'Geografie',
'W&R und Sport': 'Wirtschaft und Recht',
'EWR': 'Wirtschaft und Recht',
'Wirtschaft Geschichte': 'Wirtschaft und Recht',
'Digitale Kommunikation': 'Digitale Kommunikation',
'Technisches Gestalten': 'Bildnerisches Gestalten',
'Musik Kunstfach': 'Musik',
'Französisch': 'Französisch',
'Biologie und Chemie': 'Biologie',
'Religion, Psychologie': 'Religion',
'englisch': 'Englisch',
'Geschichte und Wirtschaft': 'Geschichte',
'Französich': 'Französisch',
'geschichte': 'Geschichte',
'sport, geschichte, Wirtschaft,': 'Sport',
'gar keins': 'NA',
'astrophysik': 'Physik',
'Wiertschaft und Recht': 'Wirtschaft und Recht',
'Informatik': 'Informatik',
'Sport, Geschichte': 'Sport',
'Geschichte und Recht': 'Geschichte',
'keines': 'NA',
'BWL': 'Wirtschaft und Recht',
'Schwerpunktfach Musik': 'Musik',
'Latein': 'Latein',
'Mein Lieblingsfach war Fremdsprache.': 'Fremdsprache',
'Anwendungen der Mathematik': 'Mathematik'
}

In [96]:
data_merge_students['Lieblingsfach'] = data_merge_students['Lieblingsfach'].replace(subject_mapping)
unique_subjects = data_merge_students['Lieblingsfach'].unique()
print(unique_subjects)

['Religion' 'Wirtschaft und Recht' 'Sport' 'Philosophie'
 'Bildnerisches Gestalten' 'Mathematik' 'Musik' 'Englisch'
 'Politikwissenschaft' 'Geschichte' 'Chemie' 'Physik' 'Biologie'
 'Psychologie' 'Mathematik \nWirtschaft' 'Deutsch' 'Spanisch' 'Geografie'
 'Italienisch' 'Französisch' 'Rätoromanisch' 'Theater' 'NA'
 'Digitale Kommunikation' 'Informatik' 'Latein' 'Fremdsprache']